.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 5px 5px 5px;
}

.navbar span {
  margin-right: 20px;
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px;
}

.navbar .selected {
  background: rgb(189, 189, 207);
  color: white;
  border-radius: 5px;
}